## For Loop

In [7]:
a = [1,2,6,8,8,3,2]
for i in a:
    print(i)

1
2
6
8
8
3
2

In [4]:
a = [1,2,6,8,8,3,2]
for i in a:
    #print(i)
    #b = i*i
    print('Hello World!')

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

In [5]:
b = ('monday', 'tuesday', 'wednesday')
for value in b:
    print(value.capitalize())

Monday
Tuesday
Wednesday

In [6]:
c = 'Monday is the first day of the week'
for ch in c:
    print(ch)

M
o
n
d
a
y

i
s

t
h
e

f
i
r
s
t

d
a
y

o
f

t
h
e

w
e
e
k

In [8]:
a = [1,2,6,8,8,3,2]
l = len(a)
i = 0
while i < l:
    print(a[i])
    i += 1

1
2
6
8
8
3
2

### Range

In [9]:
range(7)

range(0, 7)

In [10]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [11]:
a = [1,2,6,8,8,3,2]
l = len(a)
for i in range(l):
    print(a[i])

1
2
6
8
8
3
2

In [12]:
list(range(2,8))

[2, 3, 4, 5, 6, 7]

In [13]:
list(range(2,8,2))

[2, 4, 6]

In [14]:
for i in list(range(2,8,2)):
    print(i)

2
4
6

In [30]:
%%time
count = 0
for i in range(10):
    print(i)
    for f in range(10):
        print(' ', f)
        for j in range(10):
            pass
            
print(count)

0
  0
  1
  2
  3
  4
  5
  6
  7
  8
  9
1
  0
  1
  2
  3
  4
  5
  6
  7
  8
  9
2
  0
  1
  2
  3
  4
  5
  6
  7
  8
  9
3
  0
  1
  2
  3
  4
  5
  6
  7
  8
  9
4
  0
  1
  2
  3
  4
  5
  6
  7
  8
  9
5
  0
  1
  2
  3
  4
  5
  6
  7
  8
  9
6
  0
  1
  2
  3
  4
  5
  6
  7
  8
  9
7
  0
  1
  2
  3
  4
  5
  6
  7
  8
  9
8
  0
  1
  2
  3
  4
  5
  6
  7
  8
  9
9
  0
  1
  2
  3
  4
  5
  6
  7
  8
  9
0
CPU times: total: 0 ns
Wall time: 2 ms

In [27]:
# %%time
print(5, end='')
print('sanju',end='')
print(True)

5__sanjuTrue

In [23]:
print(5)
print('sanju\n')
print(True)

5
sanju

True