# A Quick Tour of Variables and Data Types in Python


![](https://i.imgur.com/6cg2E9Q.png)
These tutorials take a practical and coding-focused approach. The best way to learn the material is to execute the code and experiment with it yourself.

This tutorial covers the following topics:

- Storing information using variables
- Primitive data types in Python: Integer, Float, Boolean, None and String
- Built-in data structures in Python: List, Tuple and Dictionary
- Methods and operators supported by built-in data types

## Storing information using variables

Computers are useful for two purposes: storing information (also known as data) and performing operations on stored data. While working with a programming language such as Python, data is stored in variables. You can think of variables are containers for storing data. The data stored within a variable is called its value.

In [1]:
my_favorite_color = "blue"

In [2]:
(my_favorite_color)

'blue'

A variable is created using an assignment statement. It begins with the variable's name, followed by the assignment operator `=` followed by the value to be stored within the variable.  Note that the assignment operator `=` is different from the equality comparison operator `==`.

You can also assign values to multiple variables in a single statement by separating the variable names and values with commas.

In [3]:
color1, color2, color3 = 'red', "green", "blue"

In [4]:
color1

'red'

In [5]:
color2

'green'

In [6]:
color3

'blue'

You can assign the same value to multiple variables by chaining multiple assignment operations within a single statement.

In [7]:
color4 = color5 = color6 = "magenta"

In [8]:
color4

'magenta'

In [9]:
color5

'magenta'

In [10]:
color6

'magenta'

You can change the value stored within a variable by assigning a new value to it using another assignment statement. Be careful while reassigning variables: when you assign a new value to the variable, the old value is lost and no longer accessible.

In [11]:
my_favorite_color

'blue'

In [12]:
my_favorite_color = "red"

In [13]:
my_favorite_color

'red'

While reassigning a variable, you can also use the variable's previous value to compute the new value.

In [14]:
counter = 10

In [15]:
counter

10

In [16]:
counter = counter + 1

In [17]:
counter

11

The pattern `var = var op something` (where `op` is an arithmetic operator like `+`, `-`, `*`, `/`) is very common, so Python provides a *shorthand* syntax for it.

In [18]:
counter = 10

In [19]:
counter = counter + 1

In [20]:
counter

11

In [21]:
counter += 1

In [22]:
counter

12

In [23]:
# Same as `counter = counter + 1`
counter *= 2

In [24]:
counter

24

Variable names can be short (`a`, `x`, `y`, etc.) or descriptive ( `my_favorite_color`, `profit_margin`, `the_3_musketeers`, etc.). However, you must follow these rules while naming Python variables:

* A variable's name must start with a letter or the underscore character `_`. It cannot begin with a number.
* A variable name can only contain lowercase (small) or uppercase (capital) letters, digits, or underscores (`a`-`z`, `A`-`Z`, `0`-`9`, and `_`).
* Variable names are case-sensitive, i.e., `a_variable`, `A_Variable`, and `A_VARIABLE` are all different variables.

Here are some valid variable names:

In [25]:
a_variable = 23
is_today_Saturday = False
my_favorite_car = "Delorean"
the_3_musketeers = ["Athos", "Porthos", "Aramis"]

Let's try creating some variables with invalid names. Python prints a syntax error if your variable's name is invalid.

> **Syntax**: The syntax of a programming language refers to the rules that govern the structure of a valid instruction or *statement*. If a statement does not follow these rules, Python stops execution and informs you that there is a *syntax error*. You can think of syntax as the rules of grammar for a programming language.

In [26]:
a variable = 23

SyntaxError: invalid syntax (605469086.py, line 1)

In [ ]:
is_today_$aturday = False

In [ ]:
my-favorite-car = "Delorean"

In [ ]:
3_musketeers = ["Athos", "Porthos", "Aramis"]

## Built-in data types in Python

Any data or information stored within a Python variable has a *type*. You can view the type of data stored within a variable using the `type` function.

In [ ]:
a_variable

In [ ]:
type(a_variable)

In [ ]:
is_today_Saturday

In [ ]:
type(is_today_Saturday)

In [ ]:
my_favorite_car

In [ ]:
type(my_favorite_car)

In [ ]:
the_3_musketeers

In [ ]:
type(the_3_musketeers)

Python has several built-in data types for storing different kinds of information in variables. Following are some commonly used data types:

1. Integer
2. Float
3. Boolean
4. None
5. String
6. List
7. Tuple
8. Dictionary
9. Set

Integer, float, boolean, None, and string are *primitive data types* because they represent a single value. Other data types like list, tuple, and dictionary are often called *data structures* or *containers* because they hold multiple pieces of data together.

### Integer

Integers represent positive or negative whole numbers, from negative infinity to infinity. Note that integers should not include decimal points. Integers have the type `int`.

In [ ]:
current_year = 2023

In [ ]:
current_year

In [ ]:
type(current_year)

Unlike some other programming languages, integers in Python can be arbitrarily large (or small). There's no lowest or highest value for integers, and there's just one `int` type (as opposed to `short`, `int`, `long`, `long long`, `unsigned int`, etc. in C/C++/Java).

In [ ]:
a_large_negative_number = -23374038374832934334234317348343

In [ ]:
a_large_negative_number

In [ ]:
type(a_large_negative_number)

### Float

Floats (or floating-point numbers) are numbers with a decimal point. There are no limits on the value or the number of digits before or after the decimal point. Floating-point numbers have the type `float`.

In [ ]:
pi = 3.141592653589793238

In [ ]:
pi

In [ ]:
type(pi)

Note that a whole number is treated as a float if written with a decimal point, even though the decimal portion of the number is zero.

In [ ]:
a_number = 3.0

In [ ]:
a_number

In [ ]:
type(a_number)

In [ ]:
another_number = 4.

In [ ]:
another_number

In [ ]:
type(another_number)

Floating point numbers can also be written using the scientific notation with an "e" to indicate the power of 10.

In [ ]:
one_hundredth = 1e-2 #1x10pow(-2)

In [ ]:
one_hundredth

In [ ]:
type(one_hundredth)

In [ ]:
avogadro_number = 6.02214076e23

In [ ]:
avogadro_number

In [ ]:
type(avogadro_number)

You can convert floats into integers and vice versa using the `float` and `int` functions. The operation of converting one type of value into another is called casting.

In [ ]:
current_year

In [ ]:
float(current_year)

In [ ]:
float(a_large_negative_number)

In [ ]:
int(pi)

In [ ]:
int(avogadro_number)

In [ ]:
s = 65.954

In [ ]:
type(s)

In [ ]:
v = int(s)

In [ ]:
v

In [ ]:
type(v)

While performing arithmetic operations, integers are automatically converted to `float`s if any of the operands is a `float`. Also, the division operator `/` always returns a `float`, even if both operands are integers. Use the `//` operator if you want the result of the division to be an `int`.

In [ ]:
type(45 * 3)

In [ ]:
type(45 * 3 * 6 * 1.)

In [27]:
10*5

50

In [28]:
10/5

2.0

In [29]:
10//5

2

In [30]:
type(10/3)

float

In [31]:
type(10/2)

float

In [32]:
10/2

5.0

In [33]:
type(10//2)

int

### Boolean

Booleans represent one of 2 values: `True` and `False`. Booleans have the type `bool`.

In [34]:
is_today_Sunday = False

In [35]:
is_today_Sunday

False

In [36]:
type(is_today_Sunday)

bool

Booleans are generally the result of a comparison operation, e.g., `==`, `>=`, etc.

In [37]:
cost_of_ice_bag = 1.25
is_ice_bag_expensive = cost_of_ice_bag >= 10

In [38]:
is_ice_bag_expensive

False

In [39]:
type(is_ice_bag_expensive)

bool

Booleans are automatically converted to `int`s when used in arithmetic operations. `True` is converted to `1` and `False` is converted to `0`.

In [40]:
5 + False

5

In [41]:
bool(5 + False)

True

In [42]:
type(5 + False)

int

In [43]:
3. + True

4.0

In [44]:
type(3. + True)

float

Any value in Python can be converted to a Boolean using the `bool` function. 

Only the following values evaluate to `False` (they are often called *falsy* values):

1. The value `False` itself
2. The integer `0`
3. The float `0.0`
4. The empty value `None`
5. The empty text `""`
6. The empty list `[]`
7. The empty tuple `()`
8. The empty dictionary `{}`
9. The empty set `set()`
10. The empty range `range(0)`

Everything else evaluates to `True` (a value that evaluates to `True` is often called a *truthy* value).

In [45]:
bool(0)

False

In [46]:
bool(-1)

True

In [47]:
bool(False)

False

In [48]:
bool(0)

False

In [49]:
bool(0.0)

False

In [50]:
bool(None)

False

In [51]:
bool("")

False

In [52]:
bool([])

False

In [53]:
bool(())

False

In [54]:
bool({})

False

In [55]:
bool(set())

False

In [56]:
bool(range(0))

False

In [57]:
bool(True), bool(1), bool(2.0), bool("hello"), bool([1,2]), bool((2,3)), bool(range(10))

(True, True, True, True, True, True, True)

### None

The None type includes a single value `None`, used to indicate the absence of a value. `None` has the type `NoneType`. It is often used to declare a variable whose value may be assigned later.

In [58]:
nothing = None

In [59]:
type(nothing)

NoneType

### String

A string is used to represent text (*a string of characters*) in Python. Strings must be surrounded using quotations (either the single quote `'` or the double quote `"`). Strings have the type `string`.

In [60]:
today = "Tuesday"

In [61]:
today

'Tuesday'

In [62]:
type(today)

str

You can use single quotes inside a string written with double quotes, and vice versa.

In [63]:
my_favorite_movie = "One Flew over the Cuckoo's Nest"

In [64]:
my_favorite_movie

"One Flew over the Cuckoo's Nest"

In [65]:
my_favorite_pun = 'Thanks for explaining the word "many" to me, it means a lot.'

In [66]:
my_favorite_pun

'Thanks for explaining the word "many" to me, it means a lot.'

To use a double quote within a string written with double quotes, *escape* the inner quotes by prefixing them with the `\` character.

In [67]:
another_pun = "The first time I got a universal remote control, I thought to myself \"This changes everything\"."

In [68]:
another_pun

'The first time I got a universal remote control, I thought to myself "This changes everything".'

Strings created using single or double quotes must begin and end on the same line. To create multiline strings, use three single quotes `'''` or three double quotes `"""` to begin and end the string. Line breaks are represented using the newline character `\n`.

In [69]:
yet_another_pun = '''Son: Dad, can you tell me what a solar eclipse is?
Dad: "No sun."'''

In [70]:
yet_another_pun

'Son: Dad, can you tell me what a solar eclipse is?\nDad: "No sun."'

Multiline strings are best displayed using the `print` function.

In [71]:
print(yet_another_pun)

Son: Dad, can you tell me what a solar eclipse is?
Dad: "No sun."

In [72]:
a_music_pun = """
Two windmills are standing in a field and one asks the other, 
"What kind of music do you like?"  

The other says, 
"I'm a big metal fan."
"""

In [73]:
print(a_music_pun)

Two windmills are standing in a field and one asks the other,
"What kind of music do you like?"

The other says,
"I'm a big metal fan."

In [74]:
a_music_pun

'\nTwo windmills are standing in a field and one asks the other, \n"What kind of music do you like?"  \n\nThe other says, \n"I\'m a big metal fan."\n'

You can check the length of a string using the `len` function.

In [75]:
my_favorite_movie

"One Flew over the Cuckoo's Nest"

In [76]:
len(my_favorite_movie)

31

Note that special characters like `\n` and escaped characters like `\"` count as a single character, even though they are written and sometimes printed as two characters.

In [77]:
multiline_string = """a
b"""
multiline_string

'a\nb'

In [78]:
len(multiline_string)

3

A string can be converted into a list of characters using `list` function.

In [79]:
list(multiline_string)

['a', '\n', 'b']

Strings also support several list operations. We'll look at a couple of examples here.

You can access individual characters within a string using the `[]` indexing notation. Note the character indices go from `0` to `n-1`, where `n` is the length of the string.

In [80]:
today = "Wednesday"
#Wednesday
#012345678

In [81]:
today[0]

'W'

In [82]:
today[3]

'n'

In [83]:
today[7]

'a'

You can access a part of a string using by providing a `start:end` range instead of a single index in `[]`.

In [84]:
today[1:8]

'ednesda'

In [85]:
today[3:]

'nesday'

`start:end:step`

In [86]:
today[8:2:1]

''

In [87]:
today[0:10:2]

'Wdedy'

In [88]:
today = 'Wednesday'
#W  e  d  n  e  s  d  a  y
#0  1  2  3  4  5  6  7  8
#-9 -8 -7 -6 -5 -4 -3 -2 -1

In [89]:
today[-3]

'd'

In [90]:
today[-5:-8:-1]

'end'

In [91]:
today[1:6:-1]

''

In [92]:
today[::-1]

'yadsendeW'

You can also check whether a string contains a some text using the `in` operator.

In [93]:
today = 'Friday'

In [94]:
'day' in today

True

In [95]:
'Sun' in today

False

In [96]:
'fri' in today

False

Two or more strings can be joined or *concatenated* using the `+` operator. Be careful while concatenating strings, sometimes you may need to add a space character `" "` between words.

In [97]:
full_name = "Derek O'Brien"

In [98]:
greeting = "Hello"

In [99]:
greeting + full_name

"HelloDerek O'Brien"

In [100]:
greeting + " " + full_name + "!" # additional space

"Hello Derek O'Brien!"

Strings in Python have many built-in *methods* that are used to manipulate them. Let's try out some common string methods.

> **Methods**: Methods are functions associated with data types and are accessed using the `.` notation e.g. `variable_name.method()` or `"a string".method()`. Methods are a powerful technique for associating common operations with values of specific data types.

The `.lower()`, `.upper()` and `.capitalize()` methods are used to change the case of the characters.

In [101]:
today = 'Saturday'

In [102]:
today_modified = today.lower()

In [103]:
today_modified

'saturday'

In [104]:
today

'Saturday'

In [105]:
"saturday".upper()

'SATURDAY'

In [106]:
"monday or tuesday".capitalize() # changes first character to uppercase

'Monday or tuesday'

In [107]:
'sanju yadav maxgen'.title()

'Sanju Yadav Maxgen'

The `.replace` method replaces a part of the string with another string. It takes the portion to be replaced and the replacement text as *inputs* or *arguments*.

In [108]:
today

'Saturday'

In [109]:
another_day = today.replace("Satur", "Fri")

In [110]:
another_day

'Friday'

Note that `replace` returns a new string, and the original string is not modified.

In [111]:
today

'Saturday'

The `.split` method splits a string into a list of strings at every occurrence of provided character(s).

In [112]:
"Sun,Mon,Tue,Wed,Thu,Fri,Sat".split(",")

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

In [113]:
"Sun||Mon||Tue||Wed||Thu||Fri||Sat".split("||")

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

The `.strip` method removes whitespace characters from the beginning and end of a string.

In [114]:
a_long_line = "           This is a long line with some space before, after,     and some space in the middle..    "

In [115]:
a_long_line_stripped = a_long_line.strip()

In [116]:
a_long_line_stripped

'This is a long line with some space before, after,     and some space in the middle..'

In [117]:
ss = a_long_line_stripped.split('     ')

In [118]:
ss

['This is a long line with some space before, after,',
 'and some space in the middle..']

In [119]:
ss[0]

'This is a long line with some space before, after,'

In [120]:
ss[1]

'and some space in the middle..'

In [121]:
ss[0] + ' ' + ss[1]

'This is a long line with some space before, after, and some space in the middle..'

In [122]:
' '.join(ss)

'This is a long line with some space before, after, and some space in the middle..'

`.join` method jonins two or more strings which are inside a list or tuple with a jointer

In [123]:
numbers = ['first', 'second', 'third']

In [124]:
joined_string = '_$_'.join(numbers)
joined_string

'first_$_second_$_third'

In [125]:
days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
','.join(days)

'Sun,Mon,Tue,Wed,Thu,Fri,Sat'

The `.format` method combines values of other data types, e.g., integers, floats, booleans, lists, etc. with strings. You can use `format` to construct output messages for display.

In [126]:
aa, bb = 150, 250

In [127]:
print('first value is:', aa, 'second value is:', bb)

first value is: 150 second value is: 250

In [128]:
print('first value is: {} second value is: {}'.format(aa, bb))

first value is: 150 second value is: 250

In [129]:
print('1st value {1}, 2nd value {0} and 3rd value {0}'.format(5,True,3.0))

1st value True, 2nd value 5 and 3rd value 5

'''Question: A grocery store sells a bag of ice for $1.25 and makes a 20\% profit. If it sells 500 bags of ice, how much total profit does it make?
'''

In [130]:
# Input variables
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500

# Template for output message
output_template = """If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %, 
then the total profit it makes by selling {} ice bags is $ {}."""

print(output_template)

If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %,
then the total profit it makes by selling {} ice bags is $ {}.

In [131]:
# Inserting values into the string
total_profit = cost_of_ice_bag * profit_margin * number_of_bags
total_profit

125.0

In [132]:
"""If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %, 
then the total profit it makes by selling {} ice bags is $ {}.""".format(cost_of_ice_bag, profit_margin*100, number_of_bags, total_profit)

'If a grocery store sells ice bags at $ 1.25 per bag, with a profit margin of 20.0 %, \nthen the total profit it makes by selling 500 ice bags is $ 125.0.'

In [133]:
output_message = output_template.format(cost_of_ice_bag, profit_margin*100, number_of_bags, total_profit)

print(output_message)

If a grocery store sells ice bags at $ 1.25 per bag, with a profit margin of 20.0 %,
then the total profit it makes by selling 500 ice bags is $ 125.0.

Notice how the placeholders `{}` in the `output_template` string are replaced with the arguments provided to the `.format` method.

It is also possible to use the string concatenation operator `+` to combine strings with other values. However, those values must first be converted to strings using the `str` function.

In [134]:
"If a grocery store sells ice bags at $ " + cost_of_ice_bag + ", with a profit margin of " + profit_margin

TypeError: can only concatenate str (not "float") to str

In [135]:
"If a grocery store sells ice bags at $ " + str(cost_of_ice_bag) + ", with a profit margin of " + str(profit_margin)

'If a grocery store sells ice bags at $ 1.25, with a profit margin of 0.2'

In [136]:
print("If a grocery store sells ice bags at $ " + str(cost_of_ice_bag) + ", with a profit margin of " + str(profit_margin))

If a grocery store sells ice bags at $ 1.25, with a profit margin of 0.2

In [137]:
print(f'If a grocery store sells ice bags at $ {cost_of_ice_bag} , with a profit margin of {profit_margin}')

If a grocery store sells ice bags at $ 1.25 , with a profit margin of 0.2

You can use `str` to convert a value of any data type into a string.

In [138]:
23

23

In [139]:
a  = str(23)

In [140]:
a

'23'

In [141]:
str(23.432)

'23.432'

In [142]:
str(True)

'True'

In [143]:
the_3_musketeers = ["Athos", "Porthos", "Aramis"]
# the_3_musketeers[0]
str(the_3_musketeers)

"['Athos', 'Porthos', 'Aramis']"

Note that all string methods return new values and DO NOT change the existing string. You can find a full list of string methods here: https://www.w3schools.com/python/python_ref_string.asp.

Strings also support the comparison operators `==` and `!=` for checking whether two strings are equal.

In [144]:
first_name = "John"

In [145]:
first_name

'John'

In [146]:
first_name == "Doe"

False

In [147]:
first_name == "John"

True

In [148]:
first_name != "Jane"

True

We've looked at the primitive data types in Python. We're now ready to explore non-primitive data structures, also known as containers.

### List

A list in Python is an ordered collection of values. Lists can hold values of different data types and support operations to add, remove, and change values. Lists have the type `list`.

To create a list, enclose a sequence of values within square brackets `[` and `]`, separated by commas.

In [149]:
fruits = ['banana','apple', 'cherry']

In [150]:
fruits

['banana', 'apple', 'cherry']

In [151]:
type(fruits)

list

Let's try creating a list containing values of different data types, including another list.

In [152]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]

In [153]:
a_list

[23, 'hello', None, 3.14, ['banana', 'apple', 'cherry'], True]

In [154]:
type(a_list)

list

In [155]:
empty_list = []

In [156]:
empty_list

[]

To determine the number of values in a list, use the `len` function. You can use `len`  to determine the number of values in several other data types.

In [157]:
l = len(fruits)

In [158]:
print("Number of fruits: {}".format(len(fruits)) )

Number of fruits: 3

In [159]:
len(a_list)

6

In [160]:
len(empty_list)

0

You can access an element from the list using its *index*, e.g., `fruits[2]` returns the element at index 2 within the list `fruits`. The starting index of a list is 0.

In [161]:
fruits

['banana', 'apple', 'cherry']

In [162]:
fruits[0]

'banana'

In [163]:
fruits[1]

'apple'

In [164]:
fruits[2]

'cherry'

If you try to access an index equal to or higher than the length of the list, Python returns an `IndexError`.

In [165]:
fruits[3]

IndexError: list index out of range

In [166]:
fruits[4]

IndexError: list index out of range

You can use negative indices to access elements from the end of a list, e.g., `fruits[-1]` returns the last element, `fruits[-2]` returns the second last element, and so on.

In [167]:
fruits

['banana', 'apple', 'cherry']

In [168]:
fruits[-1]

'cherry'

In [169]:
fruits[-2]

'apple'

In [170]:
fruits[-3]

'banana'

In [171]:
fruits[-4]

IndexError: list index out of range

You can also access a range of values from the list. The result is itself a list. Let us look at some examples.

In [172]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]

In [173]:
a_list

[23, 'hello', None, 3.14, ['banana', 'apple', 'cherry'], True]

In [174]:
len(a_list)

6

In [176]:
l = a_list[2:5]

In [177]:
l

[None, 3.14, ['banana', 'apple', 'cherry']]

In [178]:
type(l)

list

In [179]:
a_list[-1:-4:-1]

[True, ['banana', 'apple', 'cherry'], 3.14]

In [180]:
a_list[::-1]

[True, ['banana', 'apple', 'cherry'], 3.14, None, 'hello', 23]

You can also change the value at a specific index within a list using the assignment operation.

In [181]:
fruits

['banana', 'apple', 'cherry']

In [182]:
fruits[1]

'apple'

In [183]:
fruits[1] = 'blueberry'

In [184]:
fruits

['banana', 'blueberry', 'cherry']

A new value can be added to the end of a list using the `append` method.

In [185]:
fruits

['banana', 'blueberry', 'cherry']

In [186]:
fruits.append('dates')

In [187]:
fruits

['banana', 'blueberry', 'cherry', 'dates']

A new value can also be inserted at a specific index using the `insert` method.

In [188]:
fruits.insert(2, 'banana')

In [189]:
fruits

['banana', 'blueberry', 'banana', 'cherry', 'dates']

You can remove a value from a list using the `remove` method.

In [190]:
fruits.remove('blueberry')

In [191]:
fruits

['banana', 'banana', 'cherry', 'dates']

What happens if a list has multiple instances of the value passed to `.remove`? Try it out.

In [192]:
fruits.insert(1,'mango')

In [193]:
fruits

['banana', 'mango', 'banana', 'cherry', 'dates']

In [194]:
fruits.remove('banana')

In [195]:
fruits

['mango', 'banana', 'cherry', 'dates']

In [196]:
fruits.append('banana')

In [197]:
fruits

['mango', 'banana', 'cherry', 'dates', 'banana']

In [198]:
fruits.remove('banana')

In [199]:
fruits

['mango', 'cherry', 'dates', 'banana']

To remove an element from a specific index, use the `pop` method. The method also returns the removed element.

In [200]:
fruits

['mango', 'cherry', 'dates', 'banana']

In [201]:
fruits.pop(1)

'cherry'

In [202]:
fruits

['mango', 'dates', 'banana']

If no index is provided, the `pop` method removes the last element of the list.

In [203]:
fruits.pop()

'banana'

In [204]:
fruits

['mango', 'dates']

You can test whether a list contains a value using the `in` operator.

In [205]:
'pineapple' in fruits

False

In [206]:
'mango' in fruits

True

In [207]:
'cherry' in fruits

False

To combine two or more lists, use the `+` operator. This operation is also called *concatenation*.

In [208]:
fruits

['mango', 'dates']

In [209]:
more_fruits = fruits + ['pineapple', 'tomato', 'guava'] + ['dates', 'banana']

In [210]:
more_fruits

['mango', 'dates', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

To create a copy of a list, use the `copy` method. Modifying the copied list does not affect the original.

In [211]:
more_fruits_copy = more_fruits.copy()

In [212]:
more_fruits_copy

['mango', 'dates', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [213]:
# Modify the copy
more_fruits_copy.remove('pineapple')
more_fruits_copy.pop()
more_fruits_copy

['mango', 'dates', 'tomato', 'guava', 'dates']

In [214]:
# Original list remains unchanged
more_fruits

['mango', 'dates', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

Note that you cannot create a copy of a list by simply creating a new variable using the assignment operator `=`. The new variable will point to the same list, and any modifications performed using either variable will affect the other.

In [215]:
more_fruits

['mango', 'dates', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [216]:
more_fruits_not_a_copy = more_fruits

In [217]:
more_fruits_not_a_copy

['mango', 'dates', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

In [218]:
more_fruits_not_a_copy.remove('pineapple')
more_fruits_not_a_copy.pop()

'banana'

In [219]:
more_fruits_not_a_copy

['mango', 'dates', 'tomato', 'guava', 'dates']

In [220]:
more_fruits

['mango', 'dates', 'tomato', 'guava', 'dates']

Just like strings, there are several in-built methods to manipulate a list. However, unlike strings, most list methods modify the original list rather than returning a new one. Check out some common list operations here: https://www.w3schools.com/python/python_ref_list.asp .


Following are some exercises you can try out with list methods (use the blank code cells below):

* Reverse the order of elements in a list
* Add the elements of one list at the end of another list
* Sort a list of strings in alphabetical order
* Sort a list of numbers in decreasing order

In [ ]:
num1 = [1,5,7,6]
num2 = [8,1,6,9,4]
num1 = num1 + num2
num1

In [ ]:
num = [1,5,6,2,1,5,6,7]
num.sort()
num

In [ ]:
cars = ['Ford', 'BMW', 'Volvo', 'Tata', 'Suzuki', 'GM', 'Aston Martin']

cars.sort()

print(cars)

### Tuple

A tuple is an ordered collection of values, similar to a list. However, it is not possible to add, remove, or modify values in a tuple. A tuple is created by enclosing values within parentheses `(` and `)`, separated by commas.

> Any data structure that cannot be modified after creation is called *immutable*. You can think of tuples as immutable lists.

Let's try some experiments with tuples.

In [222]:
fruits = ('apple', 'cherry', 'dates')

In [223]:
# check no. of elements
len(fruits)

3

In [224]:
# get an element (positive index)
fruits[0]

'apple'

In [225]:
# get an element (negative index)
fruits[-2]

'cherry'

In [226]:
# check if it contains an element
'dates' in fruits

True

In [227]:
# try to change an element
fruits[0] = 'avocado'

TypeError: 'tuple' object does not support item assignment

In [228]:
# try to append an element
fruits.append('blueberry')

AttributeError: 'tuple' object has no attribute 'append'

In [229]:
# try to remove an element
fruits.remove('apple')

AttributeError: 'tuple' object has no attribute 'remove'

You can also skip the parantheses `(` and `)` while creating a tuple. Python automatically converts comma-separated values into a tuple.

In [230]:
the_3_musketeers = 'Athos', 'Porthos', 'Aramis'

In [231]:
the_3_musketeers

('Athos', 'Porthos', 'Aramis')

In [232]:
type(the_3_musketeers)

tuple

You can also create a tuple with just one element by typing a comma after it. Just wrapping it with parentheses `(` and `)` won't make it a tuple.

In [233]:
single_element_tuple = 4,

In [234]:
single_element_tuple

(4,)

In [235]:
type(single_element_tuple)

tuple

In [236]:
another_single_element_tuple = (4,)

In [237]:
another_single_element_tuple

(4,)

In [238]:
not_a_tuple = (4)

In [239]:
not_a_tuple

4

In [240]:
type(not_a_tuple)

int

Tuples are often used to create multiple variables with a single statement.

In [241]:
point = (3, 4)

In [242]:
point_x, point_y = point #point_x, point_y = 3, 4

In [243]:
point_x

3

In [244]:
type(point_x)

int

In [245]:
point_y

4

In [246]:
type(point_y)

int

You can convert a list into a tuple using the `tuple` function, and vice versa using the `list` function

In [247]:
tuple(['one', 'two', 'three'])

('one', 'two', 'three')

In [248]:
list(('Athos', 'Porthos', 'Aramis'))

['Athos', 'Porthos', 'Aramis']

### Set

A set is an unordered collection of unique items. It is possible to add or remove an element in the set. However, it is not possible to add any duplicate value in it.

Also, it is not possible to acces element using any index, because it is an unordered collection. we can store list, dictionary , tuple in a set. Once a set is created, you cannot change its items.

Sets are created  using curly brackets `{` and `}`. It has type `set`.

In [1]:
s = {1,2,3,4,5} # set datatypes

In [2]:
S = {1, 1.1,2.3,'string'} #similar to list it can have more than one data types

A list can be converted into set using set constructor

In [3]:
list_of_num = [1,2,3,4,4,5,5,6,7,7,7,8,9] # remove duplicates 
S2 =set(list_of_num)
print(S2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

It is not possible to acces element using any index

In [4]:
S2[0]

TypeError: 'set' object is not subscriptable

any element can be added using `.add()` method

In [5]:
s

{1, 2, 3, 4, 5}

In [7]:
# add method
s.add(7)
s

{1, 2, 3, 4, 5, 7}

In [8]:
s.add(6) # it add only once
print(s)

{1, 2, 3, 4, 5, 6, 7}

Use `.remove()` method to remove anyelement

In [9]:
# remove method
s.remove(2)
print(s)

{1, 3, 4, 5, 6, 7}

In [10]:
s.remove(7)
s

{1, 3, 4, 5, 6}

`.remove()` method throws an error, when we try to remove an element which is not present in the Set.

In [11]:
s.remove(7)

KeyError: 7

To overcome the above problem we can use `.discard()` method.

In [12]:
s.discard(5) # to remove value
s

{1, 3, 4, 6}

In [13]:
s.discard(7) # it will not provide any error
s

{1, 3, 4, 6}

`.pop()` method removes any random element from the Set.

In [14]:
s.pop()

1

We can copy a set in a similar way as we did with List

In [15]:
s1 = s.copy()
s1

{3, 4, 6}

In [16]:
s1.pop()
s1

{4, 6}

In [17]:
s

{3, 4, 6}

`in` keyword

In [20]:
s = {'a','c','b'}
# in keyword to check if item is present or not in set



'd' in s

False

`.union()`

In [21]:
# set maths
s1 = {1,2,3,4}
s2 = {3,4,5,6}
s3 = s1.union(s2)

In [22]:
s3

{1, 2, 3, 4, 5, 6}

In [23]:
s1

{1, 2, 3, 4}

In [24]:
s2

{3, 4, 5, 6}

Another way to perform *union* operation.

In [25]:
# set maths
s1 = {1,2,3,4}
s2 = {3,4,5,6}
# union
union_set = s1|s2
union_set

{1, 2, 3, 4, 5, 6}

`.intersection()`

In [26]:
# set maths
s1 = {1,2,3,4}
s2 = {3,4,5,6}
s3 = s1.intersection(s2)

In [27]:
s3

{3, 4}

In [28]:
s1

{1, 2, 3, 4}

In [29]:
s2

{3, 4, 5, 6}

Another way to perform *intersection* operation.

In [31]:
# intersection 
inter_set = s1&s2
inter_set

{3, 4}

To add items from another set into the current set, use the `.update()` method.

In [32]:
s

{'a', 'b', 'c'}

In [33]:
S

{1, 1.1, 2.3, 'string'}

In [34]:
s.update(S)

In [35]:
s

{1, 1.1, 2.3, 'a', 'b', 'c', 'string'}

In [36]:
S

{1, 1.1, 2.3, 'string'}

The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [37]:
L = [2.1,5,'k']
s.update(L)

In [38]:
s

{1, 1.1, 2.1, 2.3, 5, 'a', 'b', 'c', 'k', 'string'}

The `.clear()` method empties the set:

In [39]:
s.clear()

In [40]:
s

set()

`.symmetric_difference()`

In [41]:
# set maths
s1 = {1,2,3,4}
s2 = {3,4,5,6}
s3 = s1.symmetric_difference(s2)

In [42]:
s3

{1, 2, 5, 6}

In [43]:
su = s1|s2
si = s1&s2
sd = su-si

In [44]:
sd

{1, 2, 5, 6}

### Dictionary

A dictionary is an unordered collection of items. Each item stored in a dictionary has a key and value. You can use a key to retrieve the corresponding value from the dictionary.  Dictionaries have the type `dict`.

Dictionaries are often used to store many pieces of information e.g. details about a person, in a single variable. Dictionaries are created by enclosing key-value pairs within braces or curly brackets `{` and `}`.

In [3]:
person1 = {
    'name': "John Doe",
    "sex": 'Male',
    'age': 32,
    'married': True
}

In [46]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

In [49]:
person1['name']

'John Doe'

Dictionaries can also be created using the `dict` function.

In [50]:
person2 = dict(name='Jane Judy', sex='Female', age=28, married=False)

In [51]:
person2

{'name': 'Jane Judy', 'sex': 'Female', 'age': 28, 'married': False}

In [52]:
type(person1)

dict

Keys can be used to access values using square brackets `[` and `]`.

In [53]:
person1['name']

'John Doe'

In [54]:
person1['married']

True

In [55]:
person2['name']

'Jane Judy'

If a key isn't present in the dictionary, then a `KeyError` is *thrown*.

In [56]:
person1['address']

KeyError: 'address'

You can also use the `.get()` method to access the value associated with a key.

In [57]:
person2.get("name") #person2["name"]

'Jane Judy'

In [58]:
person2.get("address")

The `get` method also accepts a default value, returned if the key is not present in the dictionary.

In [59]:
person2.get("address", "Not Present")

'Not Present'

In [60]:
person2.get("name", "Not Present")

'Jane Judy'

You can check whether a key is present in a dictionary using the `in` operator.

In [61]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

In [62]:
'name' in person1

True

In [63]:
'address' in person1

False

In [64]:
'John Doe' in person1

False

In [68]:
'John Doe' in person1.values()

True

In [69]:
'name' in person1.values()

False

In [70]:
'name' in person1.keys()

True

You can change the value associated with a key using the assignment operator.

In [74]:
person2['married']

True

In [72]:
person2['married'] = True

In [73]:
person2['married']

True

The assignment operator can also be used to add new key-value pairs to the dictionary.

In [75]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

In [76]:
person1['address'] = '1, Penny Lane'

In [2]:
person1

NameError: name 'person1' is not defined

To remove a key and the associated value from a dictionary, use the `pop` method.

In [78]:
person1.pop('address')

'1, Penny Lane'

In [79]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

In [80]:
person1.pop()

TypeError: pop expected at least 1 argument, got 0

Dictionaries also provide methods to view the list of keys, values, or key-value pairs inside it.

In [81]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

In [82]:
person1.keys()

dict_keys(['name', 'sex', 'age', 'married'])

In [5]:
person1.values()

'John Doe'

In [84]:
person1.values()[0]

TypeError: 'dict_values' object is not subscriptable

In [85]:
person1.items()

dict_items([('name', 'John Doe'), ('sex', 'Male'), ('age', 32), ('married', True)])

In [86]:
person1.items()[1]

TypeError: 'dict_items' object is not subscriptable

The results of `keys`, `values`, and `items` look like lists. However, they don't support the indexing operator `[]` for retrieving elements. 

Can you figure out how to access an element at a specific index from these results? Try it below. *Hint: Use the `list` function*