### addition function

In [1]:
# function defination
def addition(a, b):
    c = a + b
    print(c)

In [2]:
addition(2, 3)

5

In [3]:
addition(6, 8)

14

### hello

In [4]:
# simple function
def hello():
    print('Hello world!')

In [5]:
hello()

Hello world!

In [6]:
for i in range(10):
    hello()

Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!
Hello world!

In [7]:
len('sanju')

5

### Len Function

In [7]:
#len function
def lenngth(variable):
    counter = 0
    for i in variable:
        counter += 1
    print(counter)

In [2]:
len('sanju')

5

In [8]:
lenngth('sanju')

5

In [9]:
lenngth('sorab and laxmi')

15

In [10]:
lenngth([1,5,6,9,2,3])

6

In [11]:
def length2(variable):
    counter = 0
    for i in variable:
        counter += 1
    return counter

In [12]:
result = length2('Tejaswini')

In [13]:
result

9

### optional arguments

In [20]:
def root(num, power=2):
    return num**(1/power)

In [17]:
root(27, 3)

3.0

In [18]:
root(9)

3.0

In [23]:
def Introduction(name='XYZ'):
    statement = ''' Hello, my name is {}
    I am from Pune, India.
    
    Where are you from?'''.format(name)
    print(statement)

In [24]:
Introduction('sanju')

 Hello, my name is sanju
    I am from Pune, India.

    Where are you from?

In [25]:
Introduction()

 Hello, my name is XYZ
    I am from Pune, India.

    Where are you from?

In [26]:
def fun_addition(A, D, B = 0, C = 1):
    return A + B + C + D

In [28]:
fun_addition(1,2,6)

10

## named argument

In [34]:
fun_addition(2,D=6,B=1)

10

In [31]:
fun_addition(D=2,A=6,B=1)

10

## Local variables and scope

In [42]:
def fun_addition2(A, D, B = 0, C = 1, E=2):
    print(A)
    print(B)
    print(C)
    print(D)
    return A + B + C + D

In [38]:
A = 15

In [39]:
A

15

In [40]:
C = 15

In [43]:
fun_addition2(12,2)

12
0
1
2

15

In [44]:
A

15

## Try n except

In [51]:
def division(A, B):
    try:
        return A/B
    except ZeroDivisionError:
#         print('can not be divided by zero')
        return A+B
#     return A/B

In [53]:
division(B =0,A = 2)

2